// éléments
@mixin bannerHeader {
    position: relative;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 25px;
    margin: 50px 0;

    @include breakpoint (mobile) {
        height: 110px;
        margin: 20px 0;

    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
        opacity: 60%;
    }
}

@mixin imageHost {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}


// tailles écrans
@mixin breakpoint($point) {
    @if $point ==tablet {
        @media only screen and (max-width: 768px) {
            @content;
        }
    }

    @else if $point ==desktop {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }

    @else if $point ==mobile {
        @media only screen and (max-width: 490px) {
            @content;
        }
    }
}