.locationPage {
    min-height: 70vh;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include breakpoint (desktop) {
            flex-direction: column;
        }

    &__left {
       
        &__titre {
            font-size: 36px;
            color: $main-color;
            font-weight: 500;

            @include breakpoint (tablet) {
                    font-size: 26px;
                }
            @include breakpoint (mobile) {
                    font-size: 18px;
                }
            
        }

        &__location {
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0;

            @include breakpoint (tablet) {
                    font-size: 16px;
                }
            @include breakpoint (mobile) {
                    font-size: 14px;
                }
        }

        &__tags {
            display: flex;

            @include breakpoint (tablet) {
                    flex-wrap: wrap;
                    margin-bottom: 15px;
                }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include breakpoint (desktop) {
                flex-direction: row-reverse;
                align-items: center;
            }

        &__host {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            

            &__nameContainer { 
                width: 70px;
                
                @include breakpoint (mobile) {
                        margin: 0;
                    }
                &__name {
                    font-size: 18px;
                    font-weight: 500;
                    color: $main-color;
                    @include breakpoint (mobile) {
                            font-size: 14px; 
                        }
                }
            }

            &__img {
                @include imageHost;
                margin-left: 15px;

                @include breakpoint (mobile) {
                        width: 45px;
                        height: 45px;
                    }
            }
            
        }
                &__rating {
                    padding: 4px 0;
                }


    }
        &__collapse {
            width: 100%;
            display: flex;
            gap: 100px; 
             margin-bottom: 40px;

            @include breakpoint (desktop) {
                    flex-direction: column;
                    gap: 40px;
                }
        }
}