.tag{
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #FF6060;
    padding: 1px 30px ;
    margin-right: 10px;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}