.tag {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: $main-color;
    padding: 2px 20px;
    margin-right: 10px;
    margin-top: 10px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint (tablet) {
        font-size: 14px;
    }

    @include breakpoint (mobile) {
        padding: 1px 15px;
        white-space: nowrap;
    }

}