.navigation {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo img {
        @include breakpoint (desktop) {
            width: 150px;
            margin-right: 10px;
        }
                @include breakpoint (mobile) {
                    width: 125px;
                }
    }

    &__navLinks {
        display: flex;
        gap: 30px;
        font-size: 24px;
        font-family: montserrat;
        font-weight: 500;

        &__link {
            
            @include breakpoint (tablet) {
                font-size: 19px;
                
            }

            @include breakpoint (mobile) {
                font-size: 12px;
                text-transform: uppercase;
                gap: 16px;
                
            }

            &--active {
                text-decoration: underline;
            }
        }

    } 

}